/* This file is for your main application css. */

body {
  font-family: sans-serif;
}

a {
  color: #1C5D99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.narrow {
  max-width: 800px;
  margin: 0 auto;
}

#alerts {
  position: absolute;
  left: 50px;
  right: 50px;
  top: 20px;
}

#alerts .alert.alert-info {
  background: #fff300;
  display: inline-block;
}

#alerts .alert.alert-danger {
  background: #ff7171;
  display: inline-block;
}

footer {
  background: #ececec;
  margin-top: 50px;
  padding: 30px;
}
