.Header {
  background: #f8f8f8;
  padding: 50px;
}

.Header .container {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

.Header header {
  padding-right: 50px;
}

.Header h1 {
  font-size: 5em;
  color: #243c29;
}

.Header .filter {
  flex-grow: 1;
}

.Header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .image img {
  width: 100%;
}
